USE [master]
GO
/****** Object:  Database [DocumentSharingDB]    Script Date: 08/11/2025 11:16:14 PM ******/
CREATE DATABASE [DocumentSharingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocumentSharingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONGQUY\MSSQL\DATA\DocumentSharingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocumentSharingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONGQUY\MSSQL\DATA\DocumentSharingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocumentSharingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocumentSharingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CommentDate] [datetime] NULL,
	[UserID] [int] NULL,
	[DocumentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentPurchases]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentPurchases](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PurchasedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSizeKB] [int] NULL,
	[UploadDate] [datetime] NULL,
	[UploaderID] [int] NULL,
	[CategoryID] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DownloadCount] [int] NULL,
	[LikeCount] [int] NULL,
	[DownloadCost] [decimal](18, 2) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[IsGuestUpload] [bit] NOT NULL,
	[GuestName] [nvarchar](100) NULL,
	[GuestEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[LikeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DocumentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[PublicationDate] [datetime] NULL,
	[AuthorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReporterID] [int] NULL,
	[DocumentID] [int] NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[ReportDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DocumentID] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/11/2025 11:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[RegistrationDate] [datetime] NULL,
	[VirtualCurrency] [decimal](18, 2) NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (8, N'Học tập (phổ thông & ĐH)', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (9, N'Luyện thi & đề cương', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (10, N'Công nghệ thông tin', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [Content], [CommentDate], [UserID], [DocumentID]) VALUES (6, N'Đúng thứ mình cần. ', CAST(N'2025-08-11T22:19:40.663' AS DateTime), 4, 33)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentPurchases] ON 

INSERT [dbo].[DocumentPurchases] ([PurchaseId], [UserId], [DocumentId], [Price], [PurchasedAt]) VALUES (4, 4, 33, CAST(1.00 AS Decimal(18, 2)), CAST(N'2025-08-11T22:19:01.690' AS DateTime))
INSERT [dbo].[DocumentPurchases] ([PurchaseId], [UserId], [DocumentId], [Price], [PurchasedAt]) VALUES (5, 7, 33, CAST(1.00 AS Decimal(18, 2)), CAST(N'2025-08-11T22:27:18.233' AS DateTime))
INSERT [dbo].[DocumentPurchases] ([PurchaseId], [UserId], [DocumentId], [Price], [PurchasedAt]) VALUES (6, 8, 33, CAST(1.00 AS Decimal(18, 2)), CAST(N'2025-08-11T22:46:46.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[DocumentPurchases] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentID], [Title], [Description], [FileName], [FilePath], [FileSizeKB], [UploadDate], [UploaderID], [CategoryID], [Status], [DownloadCount], [LikeCount], [DownloadCost], [ThumbnailUrl], [IsGuestUpload], [GuestName], [GuestEmail]) VALUES (30, N'Vagrant cơ bản', N'công nghệ đám mây', N'LAB1___VAGRANT_C__B_N.pdf', N'admin/1/LAB1___VAGRANT_C__B_N_5c1a7ead0bf84485bb449548930cb8a3.pdf', 314, CAST(N'2025-08-11T22:11:54.173' AS DateTime), 1, 10, N'Approved', 0, 0, CAST(0.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
INSERT [dbo].[Documents] ([DocumentID], [Title], [Description], [FileName], [FilePath], [FileSizeKB], [UploadDate], [UploaderID], [CategoryID], [Status], [DownloadCount], [LikeCount], [DownloadCost], [ThumbnailUrl], [IsGuestUpload], [GuestName], [GuestEmail]) VALUES (31, N'12 lệnh GIT', N'12 lệch GIT DevOps', N'Gioi-Thieu-12-Lenh-Git-DevOps.pdf', N'admin/1/Gioi-Thieu-12-Lenh-Git-DevOps_5300fc14048949d88d8fe564b6047124.pdf', 1290, CAST(N'2025-08-11T22:12:58.490' AS DateTime), 1, 10, N'Approved', 0, 0, CAST(0.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
INSERT [dbo].[Documents] ([DocumentID], [Title], [Description], [FileName], [FilePath], [FileSizeKB], [UploadDate], [UploaderID], [CategoryID], [Status], [DownloadCount], [LikeCount], [DownloadCost], [ThumbnailUrl], [IsGuestUpload], [GuestName], [GuestEmail]) VALUES (33, N'Ôn tập Tư tưởng Hồ Chí Minh', N'270 câu TTHCM', N'270-TTHCM.pdf', N'admin/1/270-TTHCM_a78966f2684e4e95b7248d4afd839680.pdf', 605, CAST(N'2025-08-11T22:18:08.283' AS DateTime), 1, 8, N'Approved', 9, 2, CAST(1.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([LikeID], [UserID], [DocumentID]) VALUES (10, 4, 33)
INSERT [dbo].[Likes] ([LikeID], [UserID], [DocumentID]) VALUES (11, 7, 33)
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Content], [Summary], [PublicationDate], [AuthorID]) VALUES (1, N'Chào mừng đến với Website Chia sẻ Tài liệu', N'Nội dung chi tiết của tin tức chào mừng...', N'Đây là nơi bạn có thể tìm thấy và chia sẻ những tài liệu học tập hữu ích.', CAST(N'2025-08-07T12:09:27.557' AS DateTime), 1)
INSERT [dbo].[News] ([NewsID], [Title], [Content], [Summary], [PublicationDate], [AuthorID]) VALUES (2, N'Chào m?ng d?n v?i Website Chia s? Tài li?u', N'N?i dung chi ti?t c?a tin t?c chào m?ng...', N'Ðây là noi b?n có th? tìm th?y và chia s? nh?ng tài li?u h?c t?p h?u ích.', CAST(N'2025-08-07T18:36:21.720' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [ReporterID], [DocumentID], [Reason], [ReportDate], [Status]) VALUES (7, 7, 33, N'chưa tải được', CAST(N'2025-08-11T22:27:37.953' AS DateTime), N'Resolved')
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [UserID], [DocumentID], [Amount], [TransactionType], [TransactionDate], [Description]) VALUES (1, 4, NULL, CAST(50.00 AS Decimal(18, 2)), N'TopUp', CAST(N'2025-08-10T21:58:05.167' AS DateTime), N'Nạp xu')
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [DocumentID], [Amount], [TransactionType], [TransactionDate], [Description]) VALUES (3, 4, 18, CAST(-1.00 AS Decimal(18, 2)), N'Purchase', CAST(N'2025-08-11T00:40:51.720' AS DateTime), N'Mua tài liệu #18')
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [DocumentID], [Amount], [TransactionType], [TransactionDate], [Description]) VALUES (4, 4, NULL, CAST(6.00 AS Decimal(18, 2)), N'Recharge', CAST(N'2025-08-11T00:49:54.327' AS DateTime), N'Nạp xu')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [FullName], [RegistrationDate], [VirtualCurrency], [Role]) VALUES (1, N'admin', N'e86f78a8a3caf0b60d8e74e5942aa6d86dc150cd3c03338aef25b7d2d7e3acc7', N'admin@example.com', N'Quản Trị Viên', CAST(N'2025-08-07T12:09:27.553' AS DateTime), CAST(99999.00 AS Decimal(18, 2)), N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [FullName], [RegistrationDate], [VirtualCurrency], [Role]) VALUES (4, N'quy', N'bcb15f821479b4d5772bd0ca866c00ad5f926e3580720659cc80d39c9d09802a', N'quybu@GMAIL.COM', N'Nguyen Quy', CAST(N'2025-08-07T18:34:18.410' AS DateTime), CAST(248.00 AS Decimal(18, 2)), N'User')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [FullName], [RegistrationDate], [VirtualCurrency], [Role]) VALUES (7, N'nam', N'd7a060fed226ed29b46c35854f1771f74b67fb6aacb7c6f74ff20203eb6a204e', N'pyke@yahoo.com', N'Nguyễn Trung', CAST(N'2025-08-11T21:09:35.930' AS DateTime), CAST(99.00 AS Decimal(18, 2)), N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UX_DocPurch_User_Doc]    Script Date: 08/11/2025 11:16:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DocPurch_User_Doc] ON [dbo].[DocumentPurchases]
(
	[UserId] ASC,
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Like]    Script Date: 08/11/2025 11:16:14 PM ******/
ALTER TABLE [dbo].[Likes] ADD  CONSTRAINT [UQ_User_Like] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4C4C9442B]    Script Date: 08/11/2025 11:16:14 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E3EFCD21]    Script Date: 08/11/2025 11:16:14 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[DocumentPurchases] ADD  CONSTRAINT [DF_DocPurch_PurchasedAt]  DEFAULT (getdate()) FOR [PurchasedAt]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ((0)) FOR [DownloadCount]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ((0)) FOR [LikeCount]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Documents_DownloadCost]  DEFAULT ((0)) FOR [DownloadCost]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Doc_IsGuestUpload]  DEFAULT ((0)) FOR [IsGuestUpload]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublicationDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((100.00)) FOR [VirtualCurrency]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Documents] ([DocumentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DocumentPurchases]  WITH CHECK ADD  CONSTRAINT [FK_DocPurch_Doc] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([DocumentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentPurchases] CHECK CONSTRAINT [FK_DocPurch_Doc]
GO
ALTER TABLE [dbo].[DocumentPurchases]  WITH CHECK ADD  CONSTRAINT [FK_DocPurch_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentPurchases] CHECK CONSTRAINT [FK_DocPurch_User]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([UploaderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Documents] ([DocumentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([ReporterID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Documents_DocumentID] FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Documents] ([DocumentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Documents_DocumentID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
